/* font-family: 'goldbill';
font-family: 'goldbill_i';
font-family: 'hpbold';
font-family: 'hpbold_i';
font-family: 'hp';
font-family: 'hp_i';
font-family: 'hplight';
font-family: 'hplight'; */

* {
    box-sizing: border-box;
}

/* SMALLEST SIZE 280px (Galaxy Fold) */
body {
    font-family: 'hplight', sans-serif;
    font-size: .7rem;
    color: #183b48;
    letter-spacing: 1px;
    line-height: 1.25rem;
}
header{
    max-height: 250px;
    background-color: #ece7ef;
    position: relative;
}
header h6 {
    background-color: #5f5449;
    font-family: 'hplight', sans-serif;
    text-align: center;
    padding: 7px 0 ;
    color: #ece7ef;
}
header h1 {
    width: 87%;
    background-image: url("../img/logo-small.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: -9999px;
    height: 60px;
    margin: 15px auto 5px;
}
header h2 {
    text-align: center;
    padding-bottom: 15px;
    font-size: .75rem;
    font-family: 'hplight', sans-serif;
}
nav.mobile-nav{
    font-size: 1.75rem;
    padding-top: 7px;
    background-color: rgba(24, 59, 72, .9);
    z-index: 9999;
    position: absolute;
    width: 100%;
    color:#ece7ef;
    text-align: center;
    border-top: 1px solid #183b48;
}
nav.mobile-nav i {
    width: 100%;
    padding-bottom: 5px;
    cursor: pointer;
}
nav.mobile-nav ul {
    text-align: left;
    height: 480px;
    padding: 0 15px;
    display: none;
}
li h4{
    padding: 40px 0 20px;
    font-family: 'goldbill_i';
    font-weight: lighter;
    text-align: center;
}
li h5{
    font-size: 1.25rem;
    padding-bottom: 10px;
    text-align: center;
}
nav.mobile-nav ul a {
    color: #ece7ef;
    line-height: 3rem;
    text-decoration: none;
    font-family: 'hpbold';
    letter-spacing: 2px;
}
li a.phone{
    background-color: transparent;
    border: 2px solid #c2e1c9;
    border-radius: 15px;
    font-size: 1.25rem;
    display: block;
    text-align: center;
    width: fit-content;
    padding: 0 20px;
    margin: 30px auto;
    line-height: 2.5rem;
}

.img-container {
    background-image: url(../img/hero-small.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    position:absolute;
    top: 149px;
}
.img-container article {
    position: relative;
    width: 85%;
    margin: 0 auto;
    top: 290px;
    color: #ece7ef;
}

.img-container article h3 {
    font-family: 'goldbill_i', sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 1.5rem;
    padding-bottom: 15px;    
}
.img-container article p{
    text-indent: 20px;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.6rem;
    margin-bottom: 40px;
}
.img-container article h4 {

    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.img-container article a {
    text-decoration: none;
    background-color: #c2e1c9;
    border: 2px solid transparent;
    color: #183b48;
    font-size: 1.1rem;
    color: #183b48;
    padding: 8px 20px;
    border-radius: 15px;
}
.img-container article a:hover {
    background-color: transparent;
    border: 2px solid #c2e1c9;
    color: #c2e1c9;
}
.hero {
    background-color: #5f5449;
    width: 100%;
    height: 520px;
}

/* MAIN STYLES HOME PAGE */

main {
    position: relative;
    top: 400px;
    background-color: #ece7ef;
}

/* FOOTER STYLES */

footer{
    position: relative;
    top: 400px;
    background-color: rgba(24, 59, 72, .9);
    color: #ece7ef;
    font-size: .9rem;
    padding: 20px 15px;
}
.contact h4 {
    font-family: 'goldbill_i';
    font-size: .99rem;
    font-weight: lighter;
    padding-bottom: 7px;
}
.contact h5{
    font-size: .8rem;
    padding: 1px 0;
    font-weight: lighter;
    
}
.contact h5 a{
    font-weight: bold;

}
footer ul{
    list-style: none;
}
footer a{
    text-decoration: none;
    color: #c2e1c9
}

footer li.title {
    padding-top: 30px;
    font-size: 1.25rem;
}
footer .title ~ li {
    text-indent: 15px;
    padding-top: 15px;
}

footer .social{
    display: flex;
    justify-content: space-around;
    padding: 50px 0 50px;
}
.social img{
    width:90%;
    margin: 0 auto;
    display: block;
    padding-left: 15px;
}
footer div{
    width: 95%;
}
small+div img{
    margin:  0 auto;
    text-align: center;
    display: block;
    width: 60%;
}
footer small{
    text-align: center;
    display: block;
    padding-bottom: 50px;
    font-size: .75rem;
}





/* NEXT SMALLEST PHONE SIZE 390px (iphone 12 etc) */

@media screen and (min-width:390px) {
    header {
        max-height: 250px;
    }
    header h6{
        font-size: .8rem;
    }
    header h1 {
        height:80px;
    }
    header h2{
        font-size: 1rem;
    }
    nav.mobile-nav i {
        font-size: 2.25rem;
    }
    nav.mobile-nav ul {
        height: 470px;
    }
    .img-container{
        top: 169px;
    }
    .img-container article {
        top: 310px;
    }
    .img-container article h3 {
        font-size: 1.75rem;
    }
    .hero {
        height: 420px;
    }


    /* MAIN STYLES 390px */

    main {
        top: 440px
    }




    /* FOOTER STYLES 390px */

    footer {
        top:440px;
        font-size: 1rem;
    }
    .contact h4 {
        font-size: 1.25rem;

    }
    .contact h5{
        font-size: 1rem;
        padding: 3px 0;
    }
    footer li.title {
        font-size: 1.5rem;
        padding-top: 50px;
    }
    footer small{
        font-size: .8rem;
    }

}





/* TABLET STYLES STARTING AT 730px (because it starts looking broken) */
@media screen and (min-width:730px){
    
    header {
        max-height: 300px;
    }
    header h1 {
        height:100px;
    }
    header h2{
        font-size: 1rem;
    }
    
    
    nav.mobile-nav {
        display:none;
    }
    nav.tablet-nav{
        font-size: 1.75rem;
        padding-top: 7px;
        background-color: rgba(24, 59, 72, .9);
        z-index: 9999;
        position: absolute;
        width: 100%;
        color:#ece7ef;
        text-align: center;
        border-top: 1px solid #183b48;
    }
    nav.tablet-nav ul{
        display:flex;
        justify-content: space-around;
    }
    nav.tablet-nav ul a{
        color: #ece7ef;
        text-decoration: none;
        font-weight: bold;
        padding: 7px 0 9px;
        margin-bottom:9px;
        border-top:2px solid transparent;
        border-bottom: 2px solid transparent;
    }
    .img-container{
        top: 190px;
        height: 550px;
    }
    .img-container article {
        top: 390px;
    }
    .img-container article h3 {
        font-size: 2.25rem;
    }
    .img-container article p {
        font-size: 1.25rem;
        line-height: 2rem;
    }
    .hero {
        height: 600px;
        top:00px
    }



    main {
        top: 480px;
    }
    footer {
        top: 480px;
    }


}