/* font-family: 'goldbill';
font-family: 'goldbill_i';
font-family: 'hpbold';
font-family: 'hpbold_i';
font-family: 'hp';
font-family: 'hp_i';
font-family: 'hplight';
font-family: 'hplight'; */

* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/* SMALLEST SIZE 280px (Galaxy Fold) */
body {
    font-family: 'hplight', sans-serif;
    font-size: .7rem;
    color: #183b48;
    letter-spacing: 1px;
    line-height: 1.25rem;
    

}
header{
    max-height: 180px;
    background-color: #ece7ef;
    position: relative;
}
header h6 {
    background-color: #5f5449;
    font-family: 'hplight', sans-serif;
    text-align: center;
    padding: 7px 0 ;
    color: #ece7ef;
}
.header-wrapper{
    z-index: 7;
    width: 100%;
}
div.flex{
    padding-top: 15px;
}
header h1 {
    width: 87%;
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: -9999px;
    height: 60px;
    margin: 0 auto;
}
header h2 {
    text-align: center;
    padding-bottom: 10px;
    font-size: .75rem;
    font-family: 'hplight', sans-serif;
}
nav.mobile-nav{
    font-size: 1.75rem;
    padding-top: 7px;
    background-color: rgba(24, 59, 72, .9);
    z-index: 8;
    position: absolute;
    width: 100%;
    color:#ece7ef;
    text-align: center;
    border-top: 1px solid #183b48;
}
nav.mobile-nav i {
    width: 100%;
    padding-bottom: 5px;
    cursor: pointer;
}
nav.mobile-nav ul {
    text-align: left;
    height: 480px;
    padding: 0 15px;
    display: none;
}
li h4{
    padding: 40px 0 20px;
    font-family: 'goldbill_i';
    font-weight: lighter;
    text-align: center;
}
li h5{
    font-size: 1.25rem;
    padding-bottom: 10px;
    text-align: center;
}
nav.mobile-nav ul a {
    color: #ece7ef;
    line-height: 3rem;
    text-decoration: none;
    font-family: 'hpbold';
    letter-spacing: 2px;
}
.tablet-nav{
    display: none;
}



li a.phone{
    background-color: transparent;
    border: 2px solid #c2e1c9;
    border-radius: 15px;
    font-size: 1.25rem;
    display: block;
    text-align: center;
    width: fit-content;
    padding: 0 20px;
    margin: 30px auto;
    line-height: 2.5rem;
}

.img-container {
    background-image: url(../img/hero-small.webp);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
    position:absolute;
    top: 0;
    z-index: 0;
}
.img-container article {
    position: relative;
    width: 85%;
    margin: 0 auto;
    top: 290px;
    color: #ece7ef;
}

.img-container article h3 {
    font-family: 'goldbill_i', sans-serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 1.5rem;
    padding-bottom: 15px;    
}
.img-container article p{
    text-indent: 20px;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.6rem;
    margin-bottom: 40px;
}
.img-container article h4 {

    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.img-container article a {
    text-decoration: none;
    background-color: #c2e1c9;
    border: 2px solid transparent;
    color: #183b48;
    font-size: 1.1rem;
    color: #183b48;
    padding: 8px 20px;
    border-radius: 15px;
}
.img-container article a:hover {
    background-color: transparent;
    border: 2px solid #c2e1c9;
    color: #c2e1c9;
}
.hero {
    background-color: #5f5449;
    width: 100%;
    height: 520px;
    position: relative;
    box-shadow: 0 2px 10px #183b48;
}
/* PAGE STYLES */
.bhero {
    position: relative;
    top: 50px;
}
.bhero figure {
    width: 30%;
    margin: 0 auto 30px;
    border: 1px solid rgba(24, 59, 72, .7);
    cursor: pointer;

}
.bhero figure figcaption{
    text-align: center;
    padding-bottom: 5px;
}
.bhero a {
    color: #183b48;
    text-decoration: none;
}
.bhero figure img{
    width: 100%;
}
section + hr {
    margin-top: 90px;
}
hr + h2 {
    margin: 20px 0 20px;
    position: relative;
    font-size: 1.75rem;
    font-family: 'goldbill_i';
    font-weight: lighter;
    text-align: center;
    line-height: 2.25rem;

}
.tiny-homes.testimonials, .containers.testimonials, .furniture.testimonials {
    position: relative;
}

/* MAIN STYLES HOME PAGE */
main.front{
    top: 480px;
}
main {
    position: relative;
    background-color: #fff;
    /* top: 50px; */
}
.main-wrapper {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 20px;
}
.main-wrapper article a{
    text-decoration: none;
}
.main-wrapper article {
    box-shadow: 0 2px 10px #183b48;
    margin-bottom: 40px;
    padding-bottom: 1px;
    max-width: 500px;
    margin: 50px auto;
    background-color: #ece7ef;
}
.main-wrapper article img {
    width: 100%;
}
.main-wrapper article h3 {
    font-size: 1.125rem;
    font-family: 'goldbill_i';
    padding: 10px 0;
    text-align: center;
}
.main-wrapper article p {
    font-size: .8rem;
    line-height: 1.5rem;
    width: 90%;
    margin: 0 auto;
}
.main-wrapper article button {
    background: transparent;
    border: 1px solid #183b48;
    color: #183b48;
    padding: 5px 25px;
    border-radius: 5px;
    margin: 15px auto 30px;
    display: block;
    font-family: 'hp';
    cursor: pointer;
}
.main-wrapper article button:hover{
    background-color: #c2e1c9;
}

.testimonials article{
    width:100%;
    margin: 0 auto 50px;
}
.testimonials article img{
    display: block;
    width: 85%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgb(167, 167, 167);
}
.testimonials article div {
    width: 85%;
    margin: 15px auto;
}

.testimonials article h4 {
    font-size: 1rem;
    font-family: 'goldbill_i';
    padding-bottom: 5px;
}
.testimonials article p {
    font-size: .8rem;
    line-height: 1.5rem;
    text-indent: 20px;
    margin-bottom: 15px;
}
.testimonials article p a{
    color: #609e6f;
    font-weight: bold;
}
.testimonials article h5 {
    font-size: .85rem;
    font-family: 'goldbill_i';
    padding-bottom: 5px;
    text-align: right;
}
.testimonials article p:last-of-type {
    text-align: right;
    font-size: .8rem;
}

.testimonials article p:last-of-type small {
    font-size: .7rem;
    padding-left: 5px;
}
.story {
    position: relative;
    background-color: #ece7ef;
    box-shadow: 0 2px 10px #183b48;
    height: 770px
}
.story div:first-of-type{
    position: absolute;
    z-index: 2;
    top: 15px;
    width: 90%;
    margin: 0 5%;
}
.story .img-container{
    background: url('../img/founders-small.webp');
    width:100%;
    height:350px;
    background-size: cover;
    background-position:top center;
    position: relative;
    top: 570px;
}
.story img{
    display: block;
    margin: 40px auto 0;
    width:15%;
}
.story h4 {
    font-size: 1rem;
    font-family: 'goldbill_i';
    padding-bottom: 15px;
}
.story p {
    font-size: .8rem;
    line-height: 1.5rem;
    text-indent: 20px;
    margin-bottom: 10px;
}


/* FOOTER STYLES */
footer.front-footer{
    top: 630px;
}
footer{
    position: relative;
    top:48px;
    background-color: rgba(24, 59, 72, .9);
    color: #ece7ef;
    font-size: .9rem;
    padding: 20px 15px;
}
.contact h4 {
    font-family: 'goldbill_i';
    font-size: .99rem;
    font-weight: lighter;
    padding-bottom: 7px;
}
.contact h5{
    font-size: .8rem;
    padding: 1px 0;
    font-weight: lighter;
    
}
.contact h5 a{
    font-weight: bold;

}
footer ul{
    list-style: none;
}
footer a{
    text-decoration: none;
    color: #c2e1c9
}

footer li.title {
    padding-top: 30px;
    font-size: 1.25rem;
}
footer .title ~ li {
    /* text-indent: 15px; */
    padding-top: 15px;
}

footer .social{
    display: flex;
    justify-content: space-around;
    padding: 30px 0px 0;
    width: 80%;
    margin: 0 auto;
}
.social img{
    width:90%;
    margin: 0 auto;
    display: block;
    padding-left: 15px;
}
footer div{
    width: 95%;
}
small+div img{
    margin:  0 auto;
    text-align: center;
    display: block;
    width: 60%;
}
footer small{
    text-align: center;
    display: block;
    font-size: .75rem;
}
.copyrite {
    padding-top: 50px;
    padding-bottom: 50px;
}





/* NEXT SMALLEST PHONE SIZE 390px (iphone 12 etc) */

@media screen and (min-width:360px) {
    header {
        max-height: 250px;
    }
    header h6{
        font-size: .8rem;
    }
    header h1 {
        height:80px;
    }
    header h2{
        font-size: 1rem;
        padding-top: 10px;
    }
    nav.mobile-nav i {
        font-size: 2.25rem;
    }
    nav.mobile-nav ul {
        height: 450px;
    }
/* 
    .img-container article {
        top: 310px;
    } */
    .img-container article h3 {
        font-size: 1.75rem;
    }
    .hero {
        height: 500px;
    }


    /* MAIN STYLES 390px */

    main {
        top:50px;
    }
    main.front{
        top: 440px;
    }
    .main-wrapper article h3 {
        font-size: 1.3rem;
    }
    .main-wrapper article p {
        font-size: 1rem;
        line-height: 1.75rem;
    }
    .main-wrapper article button{
        font-size: 1rem;
    }

    .story {
        position: relative;
        background-color: #ece7ef;
        box-shadow: 0 2px 10px #183b48;
        height: 700px;
    }
    .story div:first-of-type{
        position: absolute;
        z-index: 5;
        top: 35px;
        width: 80%;
        margin: 0 10%;
    }
    .story .img-container{
        background: url('../img/founders-medium.webp');
        width:100%;
        height:750px;
        background-size: cover;
        background-position:top center;
        position: relative;
        top: 470px;
    }
    .story h4 {
        font-size: 1.4rem;
        font-family: 'goldbill_i';
        padding-bottom: 15px;
        line-height: 2rem;
    }
    .story p {
        font-size: 1rem;
        line-height: 1.5rem;
        text-indent: 20px;
        margin-bottom: 15px;
    }
    .story p:last-of-type {
        font-family: 'hp';
        margin-top: 20px;
    }




    /* FOOTER STYLES 390px */

    footer.front-footer{
        top:960px;
    }
    footer {
        top:48px;
        font-size: 1rem;
    }
    .contact h4 {
        font-size: 1.25rem;

    }
    .contact h5{
        font-size: 1rem;
        padding: 3px 0;
    }
    footer li.title {
        font-size: 1.5rem;
        padding-top: 50px;
    }
    footer small{
        font-size: .8rem;
    }

}

/* Build page  */
.bhero{
    display: flex;
}
.bhero figure {
    margin: 0 auto 10px;

}
.bhero figure figcaption{
    padding: 0 5px 5px;
    font-style: 1rem;
}



/* TABLET STYLES STARTING AT 730px (because it starts looking broken) */
@media screen and (min-width:730px){
    
    header {
        height: 290px;
    }
    header h1 {
        height:100px;
        margin: 10px 0;
    }
    header h2{
        font-size: 1.25rem;
        text-align: center;
        padding-top: 0;
        margin-bottom: 20px;
    }
    /* PAGE STYLES */
nav.tablet-nav ul a.current {
    border-bottom: 2px solid #c2e1c9;
}
    
    nav.mobile-nav {
        display:none;
    }
    div.header-wrapper{
        width: 50%;
    }
    div.flex{
        display:flex;
        width:90%;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 auto;
    }
    div.tablet-nav{
        display: block;
        margin-bottom: 20px;
    }
    div.tablet-nav h4{
        font-size: 1.5rem;
        font-family: 'goldbill_i';
        padding-bottom: 20px;
    }
    div.tablet-nav h5{
        font-size: 1rem;
        padding-bottom: 5px;
    }
    div.tablet-nav a{
        color:#183b48;
        font-weight: bolder;
        font-size: 1rem;
    }


    nav.tablet-nav{
        display: block;
        font-size: 1.75rem;
        padding-top: 7px;
        background-color: rgba(24, 59, 72, .9);
        z-index: 8;
        position: absolute;
        width: 100%;
        color:#ece7ef;
        text-align: center;
        border-top: 1px solid #183b48;
    }
    nav.tablet-nav ul{
        display:flex;
        justify-content: space-around;
    }
    nav.tablet-nav ul a{
        color: #ece7ef;
        text-decoration: none;
        font-weight: bold;
        padding: 7px 0 9px;
        margin-bottom:9px;
        border-top:2px solid transparent;
        border-bottom: 2px solid transparent;
    }
    .img-container{
        height: 550px;
        background-image: url('../img/hero-medium.webp');
    }
    .img-container article {
        top: 370px;
    }
    .img-container article h3 {
        font-size: 2.25rem;
    }
    .img-container article p {
        font-size: 1.25rem;
        line-height: 2rem;
    }
    .hero {
        height: 600px;
    }


    main.front{
        top: 480px;
    }
    
    main {
        top: 55px;
    }

    .main-wrapper {
        margin-top: 50px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-evenly;
    
    }
    .main-wrapper article {
        box-shadow: 0 2px 10px rgba(24, 59, 72, .7);
        margin-bottom: 40px;
        padding-bottom: 1px;
        width: 30%;
        position: relative;
        height: 510px;
    }
    .main-wrapper article img {
        width: 100%;
    }
    .main-wrapper article h3 {
        font-size: 1.125rem;
        font-family: 'goldbill_i';
        padding: 10px 0;
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }
    .main-wrapper article p {
        font-size: .8rem;
        line-height: 1.5rem;
        width: 90%;
        margin: 0 auto;
    }
    .main-wrapper article button {
        background: transparent;
        border: 1px solid #183b48;
        color: #183b48;
        padding: 5px 25px;
        border-radius: 5px;
        display: block;
        font-family: 'hp';
        top: 88%;
        transform: translateY(-25%);
        position: absolute;
        left: 25%;
    }


/* BUILDS PAGE STYLES */

.bhero {
    top: 40px;
}
.bhero figure {
    width: 30%;
}
.bhero figure figcaption{
    padding: 0 5px 10px;
    font-size: 1rem;
}
h2 + hr {
    margin-bottom: 50px;
}
hr + h2 {
    font-size: 2.25rem;
}

.tiny-homes.testimonials article, .containers.testimonials article, .furniture.testimonials article{
    height: 475px;
    position: relative;
}
.tiny-homes.testimonials article p:last-of-type, .containers.testimonials article p:last-of-type, .furniture.testimonials article p:last-of-type {
    font-size: 1.75rem;
    padding-top: 15px;
}



    .section-a{
        display: flex
    }
    .section-b{ 
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .testimonials article{
        width:100%;
        margin: 0 auto 50px;
        height: 400px;
        background-color: #ece7ef;
    }
    .testimonials article img{
        display: block;
        margin: 0 auto;
        width: 55%;
        box-shadow: 0 0 10px rgba(24, 59, 72, .9);
        z-index: 5;
        align-self: center;
    }
    .testimonials article div {
        width: 85%;
        padding: 30px 30px;
        z-index: 4;
    }
    
    .testimonials article h4 {
        font-size: 1.5rem;
        padding-bottom: 15px;
    }
    .testimonials article p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        text-indent: 30px;
        margin-bottom: 20px;
    }
    .testimonials article h5 {
        font-size: 1.25rem;
        padding-bottom: 15px;
    }
    .testimonials article p:last-of-type {
        text-align: right;
        font-size: 1.125rem;
    }
    
    .testimonials article p:last-of-type small {
        font-size: 1rem;
        padding-left: 5px;
    }

    .story .img-container{
        background: url('../img/founders-medium.webp');
        width:100%;
        height:750px;
        background-size: cover;
        background-position:top center;
        position: relative;
        top: 470px;
    }
    .story div:first-of-type{
        margin: 0 15%;
        width: 70%;
    }
    .story h4 {
        font-size: 1.7rem;
        padding-bottom: 20px;
        line-height: 2rem;
    }
    .story p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        text-indent: 30px;
        margin-bottom: 20px;
    }
    .story p:last-of-type {
        margin-top: 50px;
    }


footer{
    top:55px;
}

    footer.front-footer {
        top: 1000px;
    }
    .footer-wrapper{
        margin:0 auto;
    }
    .site-map{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 40px;
    }
    .site-map ul{
        width: 250px;
    }
    ul.social {
        width: 100%;
        align-self: flex-end;
        padding:50px 150px;

    }
    .dev-info{
        display:flex;
        justify-content: space-evenly;
        align-items:flex-end;
    }
    small+div img{
        margin:  0 auto;
        text-align: center;
        display: block;
        width: 100%;
    }
    footer .dev-info small{
        text-align: left;
        display: block;
        padding-bottom: 0;
        font-size: .75rem;
    }


}



/* LARGE STYLES Desktop etc 900px */

@media screen and (min-width:918px){
    div.flex {
        max-width: 950px;
        margin-bottom: 20px;
    }
    nav.tablet-nav ul {
        max-width: 1100px;
        margin: 0 auto;
    }
    .img-container{
        height: 700px;
        background-image: url('../img/hero-large.webp');
        max-width: 1200px;
    }
    .img-container article {
        top: 470px;
        max-width: 750px;
        margin: 0 auto;
    }

    .hero {
        height: 710px;
        max-width: 1200px;
        margin: 0 auto;
    }


    /* BUILD PAGE */
    .bhero {
        max-width: 900px;
        margin: 0 auto;
    }
    .bhero figure {
        width: 25%;
    }
    .tiny-homes.testimonials article, .containers.testimonials article, .furniture.testimonials article{
        height: 400px;
    }

    main.front{
        top: 650px;
    }
    .main-wrapper {
        max-width: 1100px;
        margin: 0 auto;
    }
    .main-wrapper article {
        height: 560px;
    }
    .main-wrapper article img {
        width: 100%;
        display: block;
        margin: 0 auto;
        border: 1px solid rgb(177, 177, 177);
        
    }
    .testimonials article{
        width:100%;
        height: 280px;
        margin: 0 auto 90px;
        max-width: 1200px;
    }
    .testimonials{
        margin-top: 100px;
    }
    .story {
        display: flex;
        max-width: 1200px;
        background-color: #fff;
        box-shadow: 0 0 transparent;
        margin: 150px auto 0;
        justify-content: space-evenly;
        align-items: center;
        max-height:800px;
    }
    .story .img-container{
        background: url('../img/founders.webp');
        background-position: center;
        background-size: cover;
        width:90%;
        display: block;
        top:0;
        box-shadow: 0 0 10px rgb(167, 167, 167);
        margin-right: 50px;
    }
    .story div:first-of-type{
        margin: 0;
        width: 100%;
        position: relative;
        padding: 0 20px;
        top: 0;
    }
 
    .story h4 {
        font-size: 1.7rem;
        padding-bottom: 20px;
        line-height: 2rem;
    }
    .story p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        text-indent: 30px;
        margin-bottom: 20px;
    }
    .story p:last-of-type {
        margin-top: 50px;
    }



    footer{
        top:55px;
    }
    footer.front-footer { 
        top:800px;
    }

    .footer-wrapper{
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        max-width: 1200px;

    }
    section.contact{
        width:30%;
        padding-top: 50px;
    }
    .site-map{
        position: relative;
        padding-left: 20px;
    }
    .site-map ul{
        width: 180px;
    }
    ul.social {
        max-width: 300px;
        position: relative;
        left: -30px;
        padding: 50px 0px 0;
        margin: 0;
    }
    footer .copyrite {
        text-align: left;
        width: 95%;
        display: block;
        margin: 0 auto;
        max-width: 1200px;
    }
    .dev-info{
        display:flex;
        justify-content:unset;
        align-items:flex-end;
        max-width: 1200px;
        margin: 0 auto;
    }
    small+div img{
        text-align: center;
        display: block;
        width: 100%;
        padding-right: 50px;
    }
    footer .dev-info small{
        text-align: left;
        display: block;
        padding-bottom: 0;
        font-size: .75rem;
    }

}

@media screen and (min-width:1100px){
    .story div:first-of-type{
        padding: 0 50px;
    }
}